<form action="/log_in" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="field">
    <label for="email">Name</label><br>
    <input type="text" name="email" id="metric_name">
  </div>
  <div class="field">
    <label for="password">password</label><br>
    <input type="password" name="password" id="metric_name">
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Update Metric">
  </div>
</form>


<p><%=session['email']%></p>
<p><%=session['id']%></p>
<p><%=session['authentication_token']%></p>
