<% if current_user %>
  <h2>My invites</h2>
  <% current_user.corral_invites.each do |corral_invite| %>
    <p>You have been invited to: <b><%= corral_invite.corral.name %></b><p>
    <form action="/accept" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="corral_id" value="<%= corral_invite.corral.id %>">
      <div class="actions">
        <input type="submit" name="commit" value="Accept invite">
      </div>
    </form>
  <% end %>
<% end %>
